.field {
  position: relative;
  background-color: rgb(37, 165, 37);
  width: 500px;
  height: 520px;
  /* z-index: 0; */
  margin: auto;
  padding: 0 0 15px 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-content: flex-end;
}

.crop {
  background-color: #b5651e;
  width: 85px;
  height: 85px;
  /* z-index: 0; */
  margin: 7.5px;
  padding: 7.5px;
  display: flex;
  flex-flow: wrap;
  align-content: space-around;
  justify-content: center;
}

canvas {
  position: absolute;
  /* z-index: 15; */
}

.grape {
  width: 20px;
  height: 20px;
  transform: scale(0);
}

.grape.grown {
  transform: scale(1);
}
