.game-data {
  width: 500px;
  height: 50px;
  margin: auto;
  display: flex;
  justify-content: space-between;
}

.field {
  position: relative;
  background-color: rgb(37, 165, 37);
  width: 500px;
  height: 520px;
  /* z-index: 0; */
  margin: auto;
  padding: 0 0 15px 0;
}

canvas {
  position: absolute;
  z-index: 5; /* second layer */
}

img {
  width: 100px;
  height: 100px;
}

img.instructions {
  width: 10vw;
  height: 10vh;
}

.instructions {
  display: flex;
}

.buy {
  position: absolute;
  left: 100px;
}

.sell {
  position: absolute;
  left: 300px;
}

.wine-crate {
  position: absolute;
  width: 100px;
  height: 100px;
  top: 100px;
  right: 27.5px;
  background-image: url("img/bottle0.png");
  background-size: 120px;
  transform: scale(0);
}

.wine-crate.empty {
  transform: scale(1);
}

.wine-crate.fill {
  transform: scale(1);
}

.oak {
  position: absolute;
  width: 100px;
  height: 100px;
  top: 200px;
  right: 27.5px;
  background-image: url("img/oak0.png");
  background-size: contain;
  transform: scale(0);
}

.oak.empty {
  transform: scale(1);
}

.oak.fill {
  transform: scale(1);
}

.crop {
  position: absolute;
  background-color: #b5651e;
  background-image: url("img/vinesetup.png");
  background-image: url("img/vine.png");
  background-size: cover;
  width: 85px;
  height: 85px;
  /* z-index: 0; */
  margin: 7.5px;
  padding: 7.5px;
  display: flex;
  flex-flow: wrap;
  align-content: space-around;
  justify-content: center;
}

.grape {
  width: 20px;
  height: 20px;
  transform: scale(0);
}

.grape.grown {
  transform: scale(1);
}

/* .test {
  background-color: chartreuse;
} */

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  /* transform: translate(-50%, -50%) scale(1); */
  transform: scale(0);
  border: 1px solid black;
  border-radius: 10px;
  z-index: 10; /* third layer*/
  background-color: white;
  width: 300px;
  height: 250px;
  max-width: 80%;
}

.instructions-modal {
  width: 400px;
  height: 400px;
  transform: translate(-50%, -50%) scale(1);
}

.modal-header {
  padding: 10px 15px;
  display: flex;
  justify-content: space-between;
  font-size: 20px;
  border-bottom: 1px solid black;
}

.modal-header .close-button {
  cursor: pointer;
  border: none;
  outline: none;
  background: none;
  font-size: 20px;
}
.message {
  text-align: center;
  margin: 10px;
  font-style: italic;
}

.modal-body {
  height: 150px;
  padding: 10px 15px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-content: space-around;
}

.instructions-modal-body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.seeds-for-sale,
.grapes-for-sale,
.bottles-for-sale {
  width: 150px;
  display: flex;
  justify-content: space-between;
}

.seeds-qty,
.grapes-qty,
.bottles-qty {
  font-size: 20px;
  display: flex;
  align-items: center;
}
#seeds-qty,
#grapes-qty,
#bottles-qty {
  width: 20px;
  height: 30px;
}

#buy-submit,
#sell-submit {
  width: 200px;
  height: 30px;
  font-size: 15px;
}

.buy-p,
.sell-p {
  width: 200px;
  height: 20px;
  text-align: center;
  font-size: 12px;
  margin: 0;
  transform: scale(0);
}
